/**
    * @name GitHub Dark
    * @version 1.0.1
    * @description A theme based off of the GitHub Dark theme.
    * @author Sango
    * @source https://github.com/moistp1ckle/GitHub_Dark
    * @website https://github.com/moistp1ckle
**/

@import url('https://raw.githubusercontent.com/moistp1ckle/GitHub_Dark/main/source.css');
