:root .theme-dark, .theme-light, .appMount_ea7e65 {
    --blurple-replace: #7289DA;
    --background-primary: rgb(9, 12, 16);
    --background-secondary: rgb(13, 17, 23);
    --background-floating: rgb(22, 27, 34);
    --background-secondary-alt: var(--background-floating);
    --background-tertiary: rgb(7, 10, 16);
    --background-accent: rgb(17, 29, 46);
    --userarea-background: var(--background-tertiary);
    --header-primary: rgb(240, 246, 252);
    --header-secondary: rgb(139, 148, 158);
    --elevation-low: 0 1px 0 rgba(40, 40, 50, 0.2), 0 1.5px 0 rgba(60, 60, 70, 0.05), 0 2px 0 rgba(40, 40, 50, 0.05);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --channels-default: rgb(139, 148, 158);
    --channeltextarea-background: rgb(7, 10, 16);
    --voice-color: var(--brand-experiment);
    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --activity-card-background: #0f0f0f;
    --interactive-normal: rgb(139, 148, 158);
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: rgb(76, 82, 88);
    --background-modifier-hover: rgba(33, 38, 45, 0.26);
    --background-modifier-active: rgba(33, 38, 45, 0.44);
    --background-modifier-selected: rgba(33, 38, 45, 0.52);
    --background-modifier-accent: rgb(33, 38, 45);
    --text-link: rgb(88, 166, 255);
    --text-normal: rgb(201, 209, 217);
    --text-muted: rgb(139, 148, 158);
    --deprecated-panel-background: #2a2f29;
    --deprecated-card-bg: var(--background-secondary);
    --deprecated-card-editable-bg: var(--background-secondary);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
    --deprecated-text-input-bg: var(--channeltextarea-background);
    --deprecated-text-input-border: var(--border-color);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
    --background-accent-1: rgb(15, 15, 15, 0.1);
    --background-accent-3: rgb(15, 15, 15, 0.3);
    --background-floating-2: rgba(0, 0, 0, 0.2);
    --border: 1px solid rgb(48, 54, 61);
    --border-color: rgb(48, 54, 61);
    --blurple-border: 1px solid rgb(31, 47, 71);
    --border-radius: 5px;
    --divide-color: var(--brand-experiment);
    --brand-experiment: rgb(88, 101, 242);
    --deprecated-quickswitcher-input-background: var(--channeltextarea-background)
	--text-positive: hsl(139, calc(var(--saturation-factor, 1)*66.8%), 58.6%);
    --text-warning: hsl(38, calc(var(--saturation-factor, 1)*95.7%), 54.1%);
    --text-danger: hsl(359, calc(var(--saturation-factor, 1)*82.6%), 59.4%);
    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-danger-text: #fff;
    --info-help-background: hsla(197, calc(var(--saturation-factor, 1)*100%), 47.8%, 0.1);
    --info-help-foreground: hsl(197, calc(var(--saturation-factor, 1)*100%), 47.8%);
    --info-help-text: #fff;
    --status-warning-text: #000;
    --scrollbar-thin-thumb: rgb(22, 27, 34);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: rgb(22, 27, 34);
    --scrollbar-auto-track: rgba(17, 19, 24, 0.308);
    --scrollbar-auto-scrollbar-color-thumb: rgb(22, 27, 34);
    --scrollbar-auto-scrollbar-color-track: rgba(17, 19, 24, 0.308);
    --elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
    --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
    --elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --logo-primary: rgb(240, 246, 252);
    --control-brand-foreground: hsl(227, calc(var(--saturation-factor, 1)*57.9%), 77.6%);
    --control-brand-foreground-new: hsl(235, calc(var(--saturation-factor, 1)*86.1%), 77.5%);
    --background-mentioned: rgba(13, 17, 23, 0.466);
    --background-mentioned-hover: rgba(20, 33, 53, 0.233);
    --background-message-hover: rgba(4, 4, 5, 0.07);
    --activity-card-background: #202225;
    --textbox-markdown-syntax: rgb(82, 89, 95);
}

.menu_dc52c6, .body_b9fccc, .container__9f51c, .option_b0286e, .searchOption_b0286e, .user__97b4c, .calendarPicker_be05cd {
	background-color: var(--background-primary) !important;
}

.searchOption_b0286e:hover, .user__97b4c:hover, .option_b0286e:hover, .interactive__46c44:hover {
	background-color: var(--background-modifier-selected) !important;
}

.themed_e44302 {
	background-color: var(--background-secondary) !important;
}

.interactive_f5eb4b:hover, .interactive_c0f6a6:hover {
	background-color: var(--background-floating) !important;
}

.bd-addon-list .bd-addon-card {
    border: var(--border);
    border-radius: var(--border-radius);
    margin-bottom: 18px;
}

.bd-select .bd-select-options {
    border-left: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
}