:root {
    /* --------- BASE THEME --------- */
    --blurple-replace: #7289DA;
    --background-primary: rgb(9, 12, 16);
    --background-secondary: rgb(13, 17, 23);
    --background-floating: rgb(22, 27, 34);
    --background-secondary-alt: var(--background-floating);
    --background-tertiary: rgb(7, 10, 16);
    --background-accent: rgb(17, 29, 46);
    --userarea-background: var(--background-tertiary);
    --header-primary: rgb(240, 246, 252);
    --header-secondary: rgb(139, 148, 158);
    --elevation-low: 0 1px 0 rgba(40, 40, 50, 0.2), 0 1.5px 0 rgba(60, 60, 70, 0.05), 0 2px 0 rgba(40, 40, 50, 0.05);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --channels-default: rgb(139, 148, 158);
    --channeltextarea-background: rgb(7, 10, 16);
    --voice-color: var(--brand-experiment);
    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --activity-card-background: #0f0f0f;
    --interactive-normal: rgb(139, 148, 158);
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: rgb(76, 82, 88);
    --background-modifier-hover: rgba(33, 38, 45, 0.26);
    --background-modifier-active: rgba(33, 38, 45, 0.44);
    --background-modifier-selected: rgba(33, 38, 45, 0.52);
    --background-modifier-accent: rgb(33, 38, 45);
    --text-link: rgb(88, 166, 255);
    --text-normal: rgb(201, 209, 217);
    --text-muted: rgb(139, 148, 158);
    --deprecated-panel-background: #2a2f29;
    --deprecated-card-bg: var(--background-secondary);
    --deprecated-card-editable-bg: var(--background-secondary);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
    --deprecated-text-input-bg: var(--channeltextarea-background);
    --deprecated-text-input-border: var(--border-color);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
    --background-accent-1: rgba(15, 15, 15, 0.1);
    --background-accent-3: rgba(15, 15, 15, 0.3);
    --background-floating-2: rgba(0, 0, 0, 0.2);
    --border: 1px solid rgb(48, 54, 61);
    --border-color: rgb(48, 54, 61);
    --blurple-border: 1px solid rgb(31, 47, 71);
    --border-radius: 5px;
    --divide-color: var(--brand-experiment);
    --brand-experiment: rgb(88, 101, 242);
    --deprecated-quickswitcher-input-background: var(--channeltextarea-background);
}

.theme-light {
    --background-secondary: rgb(13, 17, 23);
    --header-primary: rgb(240, 246, 252);
    --header-secondary: rgb(139, 148, 158);
    --background-primary: rgb(22, 27, 34);
    --text-normal: rgb(201, 209, 217);
    --background-floating: rgb(22, 27, 34);
    --background-tertiary: transparent;
    --deprecated-text-input-bg: rgb(7, 10, 16);
}

.theme-dark {
    --text-positive: hsl(139, calc(var(--saturation-factor, 1)*66.8%), 58.6%);
    --text-warning: hsl(38, calc(var(--saturation-factor, 1)*95.7%), 54.1%);
    --text-danger: hsl(359, calc(var(--saturation-factor, 1)*82.6%), 59.4%);
    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-danger-text: #fff;
    --info-help-background: hsla(197, calc(var(--saturation-factor, 1)*100%), 47.8%, 0.1);
    --info-help-foreground: hsl(197, calc(var(--saturation-factor, 1)*100%), 47.8%);
    --info-help-text: #fff;
    --status-warning-text: #000;
    --scrollbar-thin-thumb: rgb(22, 27, 34);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: rgb(22, 27, 34);
    --scrollbar-auto-track: rgba(17, 19, 24, 0.308);
    --scrollbar-auto-scrollbar-color-thumb: rgb(22, 27, 34);
    --scrollbar-auto-scrollbar-color-track: rgba(17, 19, 24, 0.308);
    --elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
    --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
    --elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --logo-primary: rgb(240, 246, 252);
    --control-brand-foreground: hsl(227, calc(var(--saturation-factor, 1)*57.9%), 77.6%);
    --control-brand-foreground-new: hsl(235, calc(var(--saturation-factor, 1)*86.1%), 77.5%);
    --background-mentioned: rgba(13, 17, 23, 0.466);
    --background-mentioned-hover: rgba(20, 33, 53, 0.233);
    --background-message-hover: rgba(4, 4, 5, 0.07);
    --activity-card-background: #202225;
    --textbox-markdown-syntax: rgb(82, 89, 95);
    --background-primary: rgb(9, 12, 16);
    --background-secondary: rgb(13, 17, 23);
    --background-floating: rgb(22, 27, 34);
    --background-secondary-alt: var(--background-floating);
    --background-tertiary: rgb(7, 10, 16);
    --background-accent: rgb(17, 29, 46);
    --userarea-background: var(--background-tertiary);
    --background-modifier-accent: var(--border-color);
    --deprecated-text-input-border-hover: var(--border-color);
    --primary-700: var(--border-color);
    --activity-card-background: var(--background-secondary-alt);
    --input-background: var(--background-primary);
    --modal-background: var(--background-floating);
    --modal-footer-background: var(--background-secondary);
    --home-background: var(--background-primary);
    --bg-overlay-chat: var(--background-primary);
}

.searchBar_e0840f, .background_b69b77, .badgeList_b69b77, .container_effbe2, .iconContainer_e677b7, .circle_d7c696, .stepNumber_f70f48, .box_f70f48, .container_c18ec9, .cardPrimary_a298b, .perkCard_d611db,.guildContainer_e0d799, .wrapper_e55051, .container_c1cce6, .paymentPane_f66684, .outer_c69a7b, .overlay_b9fccc, .messageContainer_ddb5b4, .searchBar_a46bef, .tutorial_f1c3d9, .messages_c06487, .button_e258f5, .friendRequestsButton_c0c071, .searchBox_e664f3, .inner_c59af2, .searchBar_c6ee36.container_c18ec9, .contentWrapper_af5dbb, .container_e5da8b, #undiscord .multiInput, #undiscord.container, .searchResult_ddc613, .emojiErrorItem_e52bf8, .tiers_da77bd > .tier_da77bd:not(:first-child), .descriptionBox_c38f8d, .theme-dark .card_ea2a21, .cardPrimary_a298b8.editable_a298b8, .card_ea91d1, .avatarCard_da92c3, .viewServerButton_adff39, .button_a39fe9, .otherRoles_a39fe9, .copyInput_d7e343, .emptyChannelIcon_c2668b, .button_a24e84, .wrapper_f7e168, .button_adcaac .buttonColor_adcaac, .button_adcaac.buttonColor_adcaac, .bd-search-wrapper, .bd-modal-root, .bd-addon-error, .modeSelected_d8bfb3 .link_d8bfb3, .modeSelected_d8bfb3:hover .link_d8bfb3, .prompt_c6b11b, .perks_fcea2f, .perksList_cf948e, .upsellFooter_a26a1a, .input_f4e139, .interactiveSelected_c91bad {
  border: var(--border);
}

.sidebarRegion_c25c6d, .categoryList_c6ee36, .categoryList_a7a485, #undiscord .sidebar, .container_e462a4, .wrapper_efd8e6 {
  border-right: var(--border);
}
.searchResultsWrap_c2b47d, .container_e462a4, .container_cbd271 {
  border-left: var(--border);
}
.connectionHeader_e2a436, .header_e664f3, .header_c6ee36, .header_d8cdac, #undiscord .header, #undiscord .tbar, .searchHeader_b7c924, .tierHeader_da77bd, .howItWorksImageContainer_aa72d6, .theme-dark .separator_f9a4c9, .bar_f60904, .replyBar_b11c5e {
  border-bottom: var(--border);
  box-shadow: none;
}
.footer_ac90a2, .inspector_c3120f, #undiscord .footer, .theme-dark .footerSeparator_f9a4c9, .contentSection_a56260, .rewardDescriptionContainer_c2d7e2, .bd-modal-footer, .container_fc4f04, .clipContainer_b11c5e {
  border-top: var(--border);
  box-shadow: none;
}

.container_fc4f04, .container_cbd271 {
    background: var(--background-secondary) !important;
}

.container_b2ca13, .privateChannels_f0963d, .theme-dark .container_ee69e0, .container_adcaac {
    border: var(--border);
    border-bottom: none;
}

.privateChannels_f0963d, .container_ee69e0, .header_fd6364, .sidebar_a4d4d9 {
    border-top-left-radius: 10px !important;
}

.title_a7d72e, .searchBar_f0963d, .container_fc4f04, .header_fd6364 {
  border-bottom: var(--border);
  background: var(--background-secondary);
  box-shadow: none;
}

.title_a7d72e.container_fc4f04 {
  border-bottom: var(--border);
  border-top: var(--border);
  background: var(--background-secondary) !important;
}

.resultsGroup-r_nuzN  {
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
    border-left: var(--border);
    border-right: var(--border);
}

.bd-modal-root, .bd-addon-error {
    border-radius: var(--border-radius);
}
.bd-addon-error, .prompt_c6b11b {
    border-color: var(--border-color) !important;
}

.actionButton_e01b91, .bioTextArea_ccf27d, .input_f8bc55, .popout_f6639d, .container_a2e886, .container_d7c696, .container_b01337, .accountButtonInner_e2a436 {
  border: var(--border);
  background-color: var(--background-secondary);
  transition: .3s;
} .actionButton_e01b91:hover, .embedFull_b0068a, .option_f6639d[aria-selected="true"]:not(.option_f6639d.multi_f6639d), .circle_d7c696, .stepNumber_f70f48, .theme-dark .bottomDivider_f66684, .inner_c69a7b.fullSize_c69a7b, .header_ac90a2, .header_e664f3, #undiscord .header, .searchHeader_b7c924, .tierInProgress_bfac79, .cardHeader_dedfd1, .clickableContainer_e5c5d5, .theme-dark .headerExpanded_eebd33, .categoryHeader_fe2299  {
  background: var(--background-secondary-alt);
}
.circleIconButton_db6521, .nowPlayingColumn_c2739c, .container_bf550a, .members_cbd271, .theme-dark .tierHeaderLocked_da77bd, .itemBodyInner_e1b877, .theme-dark .headerDefault_eebd33, .theme-dark .headerClickable_eebd33, .theme-dark .changeDetails_eebd33, .footer_f9a4c9, .member_cbd271 {
  background: var(--background-secondary);
}

.lookBlank-3eh9lL {
    color: var(--text-normal);
}

.footer-2gL1pp .lookFilled-1Gx00P.colorGrey-2DXtkV {
    background-color: rgb(43, 50, 59) !important;
}

.background_bfac79 {
  color: var(--border-color);
}

.mentioned-xhSam7:before {
    background-color: var(--brand-experiment);
}

.theme-dark .emptyHintCard-2mUdMe, .channelTextArea_a7d72e, .channelTextArea_bdf0de, .button_df39bd, .searchBarComponent_f0963d, .inset_ac5d22, .menu_d90b3d, .container_c15230, .reaction_ec6b19, .reactionBtn_ec6b19.forceShowLook_ec6b19, .accountProfileCard_b69b77, .inner_c69a7b.biteSize_c69a7b, .container_b6cd66, .lookFilled_f6639d.select_f6639d, .row_e677b7, .connectContainer_e2a436, .connection_e2a436, .metadataContainer_e2a436, .connectedAccountContainer_ab12c6, .card_ae1fa2, .popoverReactionHoverBar_e986d9, .panel_c69a7b, .skuSelectModalHeader_f92df2, .skuSelectModalContent_f92df2, .contentWrapper_f7506e, .avatarUploaderInnerSquare_e9b3be, .avatarUploadIcon_e9b3be.hideDefaultIcon_e9b3be, .container_cc7b67, .root_f9a4c9, .tierHeaderUnlocked_da77bd, .editCard_cd99d3, .featureCard_b1a8d5, .howItWorksContainer_aa72d6, .mainTableContainer_dd2627, .movedTable_dd2627, .theme-dark .card_e32e6f, .container_a97111, .autocomplete_bcc24e, .upload_df1eaf, .wrapper_f7e168 {
    background-color: var(--background-secondary-alt);
    border: var(--border);
    border-radius: var(--border-radius);
}

.skuSelectModalHeader_f92df2, .clipContainer_b11c5e {
  border-radius: var(--border-radius)  var(--border-radius) 0 0;
  border-bottom: none;
}
.skuSelectModalContent_f92df2 {
  border-radius: 0 0 var(--border-radius)  var(--border-radius);
  border-top: none;
}

.placeholderCard_f8c5e7, .cardPrimary_a298b8.editable_a298b8 {
  border-color: var(--border-color);
}

.theme-dark .contentWrapper-3WC1ID, .connection_e2a436, .overlay_b9fccc, .panel_c69a7b.inner_c69a7b, .container_e5da8b, .button_a24e84 {
    background-color: var(--background-secondary);
}

.theme-dark .message-2qRu38, .searchBarComponent_f0963d, .iconContainer_e677b7, .searchBox_e664f3.container_c18ec9, .inner_c59af2, .container_c18ec9 {
    background-color: var(--background-primary);
}

.divider-JfaTT5 {
    --divider-color: var(--divide-color);
}

.children-19S4PO:after {
    content: none;
}

.theme-dark .outer-1AjyKL.interactive-3B9GmY:hover, .theme-dark .outer-1AjyKL.active-1xchHY {
    background-color: var(--background-modifier-selected);
}

.theme-light .footer-2 {
    background-color: var(--background-primary);
    color: var(--text-normal);
    border-top: var(--border);
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
}



/* BD Styles */
.bd-addon-list .bd-addon-header {
    border: var(--border);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.bd-description-wrap {
    border-left: var(--border);
    border-right: var(--border);
}
.bd-footer {
    border: var(--border);
    border-top: none;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

#bd-editor-controls {
    border: var(--border);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.monaco-editor .margin {
    background: var(--background-secondary-alt);
    border-right: var(--border);
}
.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input, .minimap-decorations-layer, .vs-dark .monaco-scrollable-element>.scrollbar>.slider {
    background-color: var(--background-secondary);
}
.monaco-editor {
    border: var(--border);
    border-top: none;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.codeContainer_f8f345 svg {
    color: var(--interactive-normal);
    cursor: pointer;
}
.bd-addon-error-stack code {
    background: var(--background-primary);
    border: var(--border);
    border-radius: var(--border-radius);
}
